<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" />
    <ion-card-header>
      <ion-card-title class="centrado">RegistraAPP </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input type="email" errorText="correo invalido"
        ngModel
        email label="usuario" labelPlacement="floating" placeholder="Ej: duoc@duoc.cl"></ion-input>

      </ion-item>
      <ion-item>
        <ion-input type="password" label="contraseña" labelPlacement="floating" placeholder="Ej: 1234"></ion-input>
      </ion-item>

      <ion-button expand="block" fill="outline" color="warning" (click)="login()">Ingresar</ion-button> 
      <ion-button expand="full" fill="clear" color="dark" (click)="register()">Registrarse</ion-button>

      <ion-card-title class="centrado">¿Ha olvidado su contraseña?</ion-card-title>
      <ion-button [routerLink]="['/recuperar-contrasena']" expand="full" fill="outline" color="secondary" shape="round">recuperar contraseña</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
