<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ "Inicio de Sesión" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" />
    <ion-card-header>
      <ion-card-title class="centrado">RegistraAPP </ion-card-title>
    </ion-card-header>
  
    <ion-card-content [formGroup]="loginForm">

      <ion-item>
        <ion-input [(ngModel)]="emailValue" formControlName="email" type="email" errorText="correo invalido" label="usuario" labelPlacement="floating" placeholder="Ej: duoc@duoc.cl">  </ion-input>
      </ion-item>

      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('required')">
        {{ "El correo es requerido" | translate }}
      </ion-text>

      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('email')">
        {{ "El correo es inválido" | translate}}
      </ion-text>

      <ion-item>
        <ion-input [(ngModel)]="passValue" formControlName="password" type="password" label="contraseña" labelPlacement="floating" placeholder="Ej: 1234"></ion-input>
      </ion-item>

      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('required')">
        {{ "La contraseña es requerida" | translate }}
      </ion-text>

      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')">
        {{ "La contraseña debe tener al menos 6 caracteres" | translate }}
      </ion-text>

      <ion-button (click)="loginAlumno()" [disabled]="!loginForm.valid" expand="block" fill="outline" color="warning"> {{ "Ingresar" | translate}} </ion-button> 
      <ion-button (click)="register()" expand="full" fill="clear" color="dark" > {{ "Registrarse" | translate}} </ion-button>

      <ion-card-title class="centrado">{{ "¿Ha olvidado su contraseña?" | translate}}</ion-card-title>
      <ion-button (click)="recuperarContrasena()" expand="full" fill="outline" color="secondary" shape="round"> {{ "recuperar contraseña" | translate }} </ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
