<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/asignaturas"></ion-back-button>
    </ion-buttons>
    <ion-title>detalle</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="deleteAsignatura()" name="trash-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header>
      <ion-card-title>{{ asignatura.nombre }} </ion-card-title>
      <ion-card-subtitle>{{ asignatura.siglas }}</ion-card-subtitle>
      <ion-card-subtitle>{{ asignatura.docente }}</ion-card-subtitle>
      <ion-card-subtitle>{{ asignatura.seccion }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ asignatura.horario }}
    </ion-card-content>
    <ion-button [routerLink]="['/asistencia-docente']"  fill="outline" color="warning" shape="round"> {{ "ver asistencias" | translate }} </ion-button>
    <ion-button [routerLink]="['/qr']" fill="outline" color="warning" shape="round"> {{ "Generar código QR" | translate }} </ion-button>
  </ion-card>
</ion-content>

