<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../../assets/icon/codigo_qr_duoc.PNG" />
    <ion-card-header>
      <ion-card-subtitle>Código generado correctamente!</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
