<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="">
  <ion-card>

    <ion-text>
      <input type="text" [(ngModel)]="text">
      <br><br>
      <qrcode [qrdata]="text" [width]="250" ></qrcode>
    </ion-text>

    <ion-card-header>
    </ion-card-header>
    
    <ion-card-content>
      <ion-button (click)="mostrarAlerta()" fill="outline" color="warning" shape="round">Pasar Asistencia</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
