<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio-alumno"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ "asignaturas alumno" | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="refresh" (click)="listarAlumno()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="buscarAsignatura($event)" animated=""  placeholder="Buscar"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
    <ion-item *ngFor="let aux of listaAsignaturasAlumno" [routerLink]="['/asignaturas-alumno/', aux.id]">
      <ion-label>{{ aux.nombre }}</ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
  </ion-list>

  
</ion-content>

