<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <!-- Agrega aquí el texto de tus términos y condiciones -->
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Recusandae deserunt aperiam inventore a eaque ducimus rem blanditiis, delectus natus iure officiis tenetur repellat sequi facere similique unde architecto iusto voluptate?
    </ion-card-content>
  </ion-card>
</ion-content>
