<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> {{"selecciona" | translate }} </ion-label>
    <ion-select [(ngModel)]="idioma" (ionChange)="changeLangs($event)">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Español</ion-select-option>
      <ion-select-option value="fr">Francais</ion-select-option>
      <ion-select-option value="pt">Portugués</ion-select-option>
    </ion-select>
  </ion-item>

<h6>
  {{ "tituloterminos" | translate }}
</h6>

<h6>
  {{ "fechaterminos" | translate }}
</h6>

<h6>
  {{ "terminosapp" | translate }}
</h6>

<h3>
  {{ "titulotermino1" | translate }}
</h3>

<h4>
  {{ "termino1" | translate }}
</h4>

<h3>
  {{ "titulotermino2" | translate }}
</h3>

<h4>
  {{ "termino2" | translate }}
</h4>

<h3>
  {{ "titulotermino3" | translate }}
</h3>

<h4>
  {{ "termino3" | translate }}
</h4>

<h3>
  {{ "titulotermino4" | translate }}
</h3>

<h4>
  {{ "termino4" | translate }}
</h4>

<h3>
  {{ "titulotermino5" | translate }}
</h3>

<h4>
  {{ "termino5" | translate }}
</h4>

<h3>
  {{ "titulotermino6" | translate }}
</h3>

<h4>
  {{ "termino6" | translate }}
</h4>

<h3>
  {{ "titulotermino7" | translate }}
</h3>

<h4>
  {{ "termino7" | translate }}
</h4>

<h3>
  {{ "titulotermino8" | translate }}
</h3>

<h4>
  {{ "termino8" | translate }}
</h4>

<h6>
  {{ "leytermino" | translate }}
</h6>

<h6>
  {{ "finterminos" | translate }}
</h6>

<h6>
  {{ "fechafin" | translate }}
</h6>

  <ion-checkbox [(ngModel)]="aceptoTerminos"> {{ "aceptoterminos" | translate }} </ion-checkbox>
  <ion-button expand="full" [disabled]="!aceptoTerminos" [routerLink]="['/inicio']" fill="outline" color="warning" shape="round" (click)="cerrar()"> {{ "cerrarterminos" | translate }} </ion-button>

</ion-content>

