<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ "bienvenido" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label> {{"selecciona" | translate}} </ion-label>
    <ion-select [(ngModel)]="idioma" (ionChange)="changeLangs($event)">
      <ion-select-option *ngFor="let lang of langs" > {{ lang }} </ion-select-option>
    </ion-select>
  </ion-item>
  <app-card [mostrarBoton]="true" [mostrarHeader]="true" nombre="Bienvenido Docente!"  siglas="¿Que desea ver?" seccion="">
    <ion-button [routerLink]="['/asistencia-alumno']" fill="outline" color="warning" shape="round">ver asistencias </ion-button>
    
  </app-card>
  <ion-button (click)="logout()" fill="outline" color="warning" shape="round"> {{ "cerrarsesion" | translate }} </ion-button>
</ion-content>

